* {
  margin: 0px;
  padding: px;
  font-family: "Poppins", sans-serif;
}

.navigaruin {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1000;
  position: fixed;




}

.nav_bar {
  display: flex;
  text-decoration: none;
  margin-left: 330px;
  margin-top: -30px;


}

ul li {
  display: inline;
  padding: 13px;
  text-decoration: none;

}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  padding-top: -50px;


}

.link:hover {
  color:#ef4136;
}

#logotext {
  color: #ef4136;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
}

.button-container {
  display: flex;
  background-color: #ef4136;
  width: 250px;
  height: 40px;
  margin-left: 930px;
  margin-top: -30px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
          rgba(255, 89, 0, 0.5) 5px 10px 15px; */
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}

.home_continer {
  width: 100%;
  height: 530px;
  background-color: rgb(255, 255, 255);

}

#hometext {
  padding-top: 140px;
  font-size: 50px;
  margin-left: 40px;
  font-weight: bold;
  color: #ef4136;
}

.homeimg {
  width: 530px;
  margin-left: 600px;
  margin-top: -400px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.homeimg:hover {
  transform: translateY(-3px);
}

#homebodytext {
  margin-left: 30px;
}





#hombtn {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ef4136;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #ef4136;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ef4136;
  margin-left: 30px;
}

#hombtn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #ef4136;
}

#hombtn:active {
  transform: scale(0.9);
}

.secondpage_continer {
  width: 100%;
  height: 650px;
  background-color: #ffffff;
  margin-top: 60px;

}

#secttext {
  text-align: center;
}

#secttext1 {

  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#btn1 {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  margin-left: 200px;
  border-style: none;
  margin-top: 30px;
  background-color: #ef4136;
  color: white;
  padding-left: 20px;

}

.box1 {
  width: 290px;
  height: 370px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box1 .img1 {
  width: 230px;
  padding-left: 20px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.img1:hover {
  transform: translateY(-8px);
}


.box2 {
  width: 290px;
  height: 370px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box2 .img2 {
  width: 260px;
  padding-left: 20px;
  margin-top: -20px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.img2:hover {
  transform: translateY(-8px);
}

.box3 {
  width: 290px;
  height: 370px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box3 .img3 {
  width: 230px;
  padding-left: 25px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.img3:hover {
  transform: translateY(-8px);
}

.box4 {
  width: 290px;
  height: 370px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.imge4 {
  width: 230px;
  padding-left: 25px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.imge4:hover {
  transform: translateY(-8px);
}

.boxcnet {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.iconstar {
  margin-left: 65px;
  padding: 20px;
  margin-top: -45px;
  color: #ef4136;

}

#box1text {
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin-left: -40px;
}

#box1text2 {
  color: black;
  font-size: 13px;
  margin-left: -80px;
  text-align: center;
  margin-top: 5px;
}

#price {
  color: #ef4136;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 10px;
}

.iconstar2 {
  margin-left: 80px;
  padding: 20px;
  margin-top: -60px;
  color: #ef4136;
}

#box1textnew2 {
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin-left: -40px;
}

#box1textby2 {
  color: black;
  font-size: 12px;
  margin-left: -75px;
  text-align: center;
  margin-top: 5px;
}

#price2 {
  color: #ef4136;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 10px;
}

.iconstar3 {
  margin-left: 68px;
  padding: 20px;
  margin-top: -48px;
  color: #ef4136;
}

.third_continer {
  width: 100%;
  height: 550px;
  background-color: #ffffff;
}

.maincntiner {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.ctiner1 {
  width: 330px;
  height: 280px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.ctiner1:hover {
  transform: translateY(-8px);

}

.mobileicon {
  font-size: 40px;
  margin-left: 150px;
  margin-top: 10px;
  color: orange;

}

.ctiner2 {
  width: 330px;
  height: 280px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.ctiner2:hover {
  transform: translateY(-8px);

}

.ctiner3 {
  width: 330px;
  height: 280px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.ctiner3:hover {
  transform: translateY(-8px);

}

#box1textcntiner1 {
  color: rgb(6, 6, 6);
  font-size: 18px;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 10px;
}

#ctiner1bodytext {
  padding: 10px;
  font-size: 15px;
  text-align: center;
  margin-top: 1px;
}

.fourth_continer {
  width: 100%;
  height: 550px;
  background-color: #ffffff;
  margin-top: -70px;
}

#fourth1 {
  color: black;
  font-size: 18px;
  margin-left: 34px;
}

#fourth2 {
  font-size: 35px;
  font-weight: bold;
  color: #ef4136;
  margin-top: 5px;
  margin-left: 30px;
}

#fourthboytex {
  color: black;
  font-size: 16px;
  margin-left: 30px;
  margin-top: 10px;
}

.click1 {
  margin-left: 40px;
  font-size: 25px;
  margin-top: 50px;


}

#click1text {
  margin-left: 40px;
  font-size: 20px;
  margin-top: -40px;
}

.fmlyimge {
  width: 400px;
  margin-left: 740px;
  margin-top: -250px;
}

.fourthbtn {
  width: 130px;
  height: 40px;
  border: 3px solid #ef4136;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 15px;
  font-weight: 550;
  margin-left: -1090px;
  position: absolute;
  bottom: -1590px;
}

.fourthbtn:hover {
  background: #ef4136;
  color: white;
  font-size: 15px
}

.fifth_section {
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  margin-top: -30px;
}

#fifth1 {
  text-align: center;
}

#fifth2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  color: #ef4136;
}

.text1 {
  margin-left: 30px;
  margin-top: 80px;
  align-items: center;
}

#main {
  font-size: 40px;
  font-weight: bold;
  margin-left: 100px;
}

.text2 {
  margin-left: 450px;
  margin-top: -85px;
}

#main1 {
  font-size: 40px;
  font-weight: bold;
  margin-left: 100px;
}

#child1 {
  text-align: center;
  margin-left: -450px;
  font-size: 15px;
}

.text3 {
  margin-left: 800px;
  margin-top: -110px;
}

#main2 {
  font-size: 40px;
  font-weight: bold;
  margin-left: 160px;
}

#child2 {
  text-align: center;
  margin-left: -10px;
  font-size: 15px;
}

.logimge {
  width: 380px;
  margin-left: 740px;
  margin-top: -300px;
}

#hombtn2 {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 15px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ef4136;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #ef4136;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ef4136;
  margin-left: 35px;
  position: absolute;
  right: 1000px;
}

#hombtn2:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #ef4136;
}

#hombtn2:active {
  transform: scale(0.9);
}
.sixth_continer{
  width: 100%;
  height: 90px;
  background-color: #000000;
  margin-top: -20px;
}
#footer{
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  color: #ffffff;
}
.icons{
  margin-left: 550px;
  font-size: 18px;
  margin-top: 5px;
  color: #ffffff;
  cursor: pointer;

}
.icons:hover{
  color: #fff;
}